@import '../../App.scss';
@import './header.scss';

.sidebar {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: $header-slide-bg-color;
    transition: left 0.3s ease;
    padding: 2% 4%;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .close-btn {
    color: $header-text-color;
    background-color: $header-slide-bg-color;
    border: none;
    font-size: 1.5em;
    padding: 2%;
    cursor: pointer;
    position: absolute;
    top: .5em;
    right: .5em;
  }

  .lang-switcher-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: $header-text-color;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;

    .custom-flag {
      margin-right: 0.5rem;
      height: 1rem;
      width: auto;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }

@media (max-width: 425px) {
    .sidebar {
        left: -100%;
        width: 100%;
    }
}
  